*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 0.24rem;
    color: #333333;
    font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    background-color: #f0f0f0;
}
li{
    list-style: none;
}
.one{
    height: 0.48rem;
    background: #ffffff;
    display: flex;
    border-bottom:1px solid #999999;
    padding: 0.2rem;
}
.search{
    width: 6.2rem;
    height: 0.56rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    text-indent: 0.61rem;
    background: #eeeeee url(images/sousuo.png) 0.2rem 0.1rem no-repeat;
    background-size: 0.37rem 0.37rem;
}

.message{
    width: 0.4rem;
    height: 0.39rem;
    margin: 0.08rem 0 0 0.36rem;
}
.two{
    width: 100%;
    height: 0.8rem;
    background-color: #fff;
    float: left;
}
#two_0{
    width: 2rem;
    height: 0.8rem;
    float: left;
    line-height: 0.8rem;
    font-size: 0.32rem;
    font-weight: 600;
    text-align: center;
}
.gengduo{
    width: 1.3rem;
    height: 0.8rem;
    float: right;
}
.gengduo img{
    width: 0.35rem;
    height: 0.35rem;
    float: right;
    margin: 0.23rem 0.3rem 0 0;
}
#gengduo_font{
    float: left;
    line-height: 0.8rem;
    font-size: 0.28rem;
    color: #999;
}
.three{
    width: 94%;
    height: 5.8rem;
    float: left;
    margin: 0 0 0 3%;
}
.three_1{
    width: 30%;
    height: 2.7rem;
    float: left;
    margin: 0.12rem 0 0 0.17rem;
}
.three_2{
    width: 100%;
    height: 2rem;
    float: left;
    border-radius: 10%;
}
.three_2_1{
    background: url(images3/m13.jpg) no-repeat;
    background-size: 100% 100%;
}
.three_2_2{
    background: url(images3/m8.jpg) no-repeat;
    background-size: 100% 100%;
}
.three_2_3{
    background: url(images3/m3.jpg) no-repeat;
    background-size: 100% 100%;
}
.three_2_4{
    background: url(images3/m5.jpg) no-repeat;
    background-size: 100% 100%;
}
.three_2_5{
    background: url(images3/m9.jpg) no-repeat;
    background-size: 100% 100%;
}
.three_2_6{
    background: url(images3/m2.jpg) no-repeat;
    background-size: 100% 100%;
}
.erji{
    width: 20%;
    height: 2rem;
    float: left;
}
.erji img{
    width: 0.35rem;
    height: 0.35rem;
    float: left;
    margin: 1.5rem 0 0 0.13rem;
    border-radius: 5px;
}
.erji_num{
    width: 40%;
    height: 0.4rem;
    float: left;
    line-height: 0.4rem;
    color: #fff;
    margin: 1.48rem 0 0 0.2rem;
    font-size: 12px;
}
.music_play{
    width: 30%;
    height: 2rem;
    float: right;
}
.music_play img{
    width: 0.55rem;
    height: 0.55rem;
    float: right;
    margin: 1.35rem 0.1rem 0 0;
}
.three_3{
    width: 90%;
    height: 0.7rem;
    float: left;
    line-height: 0.35rem;
    font-size: 12px;
    color: black;
    font-family:"Microsoft YaHei";
    text-align: center;
    margin: 0.08rem 0 0 5%;
}
.four{
    width: 90%;
    height: 4rem;
    float: left;
    margin: 0 0 0 5%;
}
.four_1{
    width: 100%;
    height: 1.1rem;
    float: left;
    position: relative;
}
.four_3{
    width: 18%;
    height: 1rem;
    float: left;
}
.four_3 img{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    border-radius: 15%;
    margin: 0.1rem 0 0 0.15rem;
}
.four_4{
    width: 60%;
    height: 1rem;
    float: left;
}
.four_4_1{
    width: 100%;
    height: 0.5rem;
    font-size: 13px;
    line-height: 0.6rem;
    float: left;
}
.four_4_2{
    width: 100%;
    height: 0.5rem;
    font-size: 12px;
    color: #999;
    line-height: 0.4rem;
    float: left;
}
.four_2{
    width: 20%;
    height: 1rem;
    float: right;
}
.four_2 img{
    width: 0.44rem;
    height: 0.44rem;
    float: right;
    margin: 0.28rem 0 0 0.13rem;
}

/* 底部栏 */
.footer{
    background-color: #fcfcfc;
    border-radius: 0.3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
}
.footer-1{
    float: left;
    width: 25%;
    height: 1rem;
}
.footer-1 p{
    font-size: 0.3rem;
    margin-left: 0.5rem;
}
.footer-1 span{
    font-size: 0.5rem;
    margin-left: 0.6rem;
}
.footer-1 span:hover{
    color: tomato;
}
.footer-1 p:hover{
    color: tomato;
}
.footer-space{
    width: 100%;
    height: 49px;
}
.xihuan{
    color: tomato;
}