<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.bianse{
    background: red;
}

    </style>
</head>
<body>
    <div id="aaa">
        <input type="text" v-model="MyValue">
        <button @click="add()">add</button>
    <ul>
        <li v-for="(obj,index) in list"
            @click="fn(obj)"
            :class="{bianse:obj.isChecked}">{{obj.name}}   
            <button @click.stop="remove(index)">del</button>
        </li>
    </ul>
    </div>
    
    <script src="vue.js"></script>
    <script>

        new Vue({
            el:"#aaa",
            data:{
                list:[
                    {
                        name:"詹姆斯^哈登",
                        isChecked:false
                    },
                    {
                        name:"德文恩^韦德",
                        isChecked:false
                    },
                    {
                        name:"科比^布莱恩特",
                        isChecked:false
                    },
                    {
                        name:"勒布朗^詹姆斯",
                        isChecked:false
                    },
                ],
                MyValue:"",
            },
            methods:{
                add(){
                    this.list.push({
                        name:this.MyValue,
                        isChecked:false
                    })
                    
                },
                fn(obj){
                    obj.isChecked = ! obj.isChecked;
                },
                remove(index){
                    this.list.splice(index,1);
                }
            }
        })


    </script>
</body>
</html>